# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
-- CREATE TABLE JunkDB_STL_May2023.harshala.recipes(
--       name VARCHAR(25),
--       description VARCHAR(50),
--       instructions VARCHAR(500),
--    );
SELECT * from JunkDB_STL_May2023.harshala.recipes

Add three rows to your table that are your planned makes.

In [10]:
INSERT INTO JunkDB_STL_May2023.harshala.recipes (name, description, instructions)
VALUES('Pizza', 'To lazy to cook but hungry', 'Call ModPizza and order for delivery');
ELECT * from JunkDB_STL_May2023.harshala.recipes;

name,description,instructions
Pizza,To lazy to cook but hungry,Call ModPizza and order for delivery
Pizza,To lazy to cook but hungry,Call ModPizza and order for delivery
Pizza,To lazy to cook but hungry,Call ModPizza and order for delivery

## Update a Row

Change different values in one of your three rows.

In [9]:
UPDATE JunkDB_STL_May2023.Recipes
SET 
    name = 'Pasta'
WHERE
    instructions = 'Call ModPizza and order for delivery';

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'JunkDB_STL_May2023.Recipes'.

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM harshala.recipes;

## Drop the Table

While this has been fun, it is time to drop the table!

In [10]:
DROP TABLE harshala.Recipes;

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'harshala.Recipes', because it does not exist or you do not have permission.